.dashboard {
  display: flex;
  height: 90vh;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background: white;
  font-weight: 600;
  color: black;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Hide sidebar on small screens */
.sidebar.closed {
  width: 0;
  overflow: hidden;
  padding: 0;
}

/* Toggle button for mobile */
.menu-toggle {
  cursor: pointer;
}

.menu-toggle:hover {
  width: 25px;
  border-radius: 5px;
  background: #ccc;
}

/* Floating menu button when sidebar is closed */
.menu-toggle.fixed {
  position: fixed;
  top: 97px;
  left: 15px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

.menu-toggle.fixed:hover {
  background: #ccc;
}

/* Sidebar items */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center; /* Align icon and text in a row */
  gap: 8px; /* Space between icon and text */
  padding: 10px 15px;
  cursor: pointer;
  color: black;
}

.sidebar li.active {
  background: #ffc022;
  border-radius: 5px;
}

/* Main Content */
.content {
  flex: 1;
  padding: 20px 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1b202c;
  padding: 10px 20px;
}

.username {
  padding-right: 15px;
  font-weight: bold;
}

.tab-name {
  font-size: 16px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    top: 1;
    height: auto;
  }

  .menu-toggle.fixed {
    position: fixed;
    top: 128px;
    left: 15px;
  }

  header {
    flex-direction: column;
    text-align: center;
  }
}
